{% extends "card.html" %}

{% load static %}
{% load widget_tweaks %}

{% block partial_settings %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'sonarqube_app/css/styles.css' %}">
<script type="text/javascript" charset="utf8" src="{% static '/sonarqube_app/js/static.js' %}"></script>
{% endblock %}


<div class="container">
    <form method="POST" action="{% url 'sonar'%}" id="form_submit">
        {% csrf_token %}
        <div class="d-flex align-items-center row">
            <div class="col-sm-2 text-right">
                Google File<span class="text-danger">*</span>:
            </div>
            <div class="col-sm-8 pl-0">
                {{ form.url | add_class:"form-control"}}
            </div>

            <div class="col-2">
                <button type="submit" class="btn btn-primary-outline p-0">
                    <li class="fa fa-search" style="font-size: 30px"></li>
                </button>
            </div>
        </div>
        <p class='error-message offset-sm-2' mess="{{status}}">
            {{status}}
        </p>
        {% if filter_sonar == 'True' %}
        {% include "sonar_filter.html" %}
        {% endif %}
    </form>
</div>

{% endblock %}
